:host {
    .round-slider {
        border-radius: 50%;
        display: block;
        position: absolute;
        width: min-content;
        height: min-content;
        z-index: 1000;

        svg {
            position: absolute;
        }

        [roundCircle] {
            display: block;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        }

        &_drag-handle {
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 10px);

            left: 5px;
            top: 5px;
            border-radius: 50%;
            backdrop-filter: blur(5px);
        }

        &_wrapper {
            clip-path: url(#roundCircle);
        }
    }
}