$opacity: 0.1;

/* grayscale */
$black: #000000;
$shadow-gray: rgba(0,0,0, 0.3);
$anthracite-black: #101010;
$twilight-black: #202020;
$dawnsky-black: #303030;
$deep-gray: #404040;
$dark-gray: #505050;
$heavy-gray: #606060;
$rigid-gray: #707070;
$gray: #888888;
$grayish-gray: #989898;
$wolf-gray: #A0A0A0;
$soft-gray: #B0B0B0;
$light-gray: #C0C0C0;
$easy-gray: #D0D0D0;
$dirty-white: #E0E0E0;
$paper-white: #F0F0F0;
$white: #FFFFFF;

$primary-color: #3f5955;
$border-color: #A7A3B2;
$item-border-color: #C3A58B;
$text-color: #474352;
$input-color: #575352;
$heading-color: #3A4164;
$giant-button-color: #474352;
$active-color: #4A9CA6;
$disabled-color: $paper-white;
$active-button-color: $active-color;
$primary-button-color: #7ACCD6;
$link-color: #4B7D7A;
$hover-color: #F3F5EB;
$hover-link-color: #4B6D9A;
$light-link-color: #BAFAFE;
$selected-color: #F3F5EB;
$shadow-color: $shadow-gray;

$red-color: #EE3300;
$red-color-opacity: rgba(234,51, 0 , $opacity);
$red-color-tsp: rgba(238, 51, 0, 0.7);
$orange-color: #FF9900;
$lime-color: #AAEE00;
$dark-red-color: #661100;
$blue-color: #0033AA;
$blue-color-opacity: rgba(0, 51, 170, $opacity);
$light-blue-color: #6699FF;
$soft-blue-color: #99BBFF;
$green-salad-color: #8EFF34;
$green-color: #339900;
$green-color-opacity: rgba(51, 153, 00, $opacity);
$button-green-color: #3e5b27;
$button-green-color-tsp: rgba(62, 91, 39, 0.7);
$turuoise-color: #a8d9ce;
$dark-green-color: #114400;
$yellow-color: #EEEE00;
$yellow-color-opacity: rgba(238, 238, 0, $opacity);
$violet-color: #8800AA;
$violet-color-opacity: rgba(136, 0, 170, $opacity);

$table-head-bgcolor: #6A4395;
$table-head-color: #E8F6FF;
$table-row-color: #FEF0E0;
$table-row-hover-color: #F0EFE0;

:root {
    --main-color: #{$primary-color};
    --link-color: #{$link-color};
    --hover-link-color: #{$hover-link-color};
    --header-color: #{$heading-color};
    --text-header-color: #{$paper-white};

/* material override */
    --mat-form-field-state-layer-color: transparent;
    --mdc-filled-text-field-container-color: transparent;
}