$_q: 8.333333333333333333%;
$_p: 5%;

.size1of1, .wide{ width: 100%;}

.size1of2   { width: 6 * $_q; }
.size1of3   { width: 4 * $_q; }
.size1of4   { width: 3 * $_q; }
.size1of6   { width: 2 * $_q; }
.size1of12  { width: $_q;}
.size2of3   { width: 8 * $_q; }
.size3of4   {width: 9 * $_q; }
.size5of6   {width: 10 * $_q; }
.size7of12  {width:7 * $_q; }
.size11of12 {width: 11* $_q; }

.size1of5	{ width: 4 * $_p;}
.size2of5	{ width: 8 * $_p;}
.size3of5	{ width: 12 * $_p;}
.size4of5	{ width: 16 * $_p;}

$_u: 5px;

$_xs: $_u;
$_s: 2 * $_u;
$_m: 2 * $_s;
$_l: 2 * $_m;

$w_50: 50px;
$w_100: 100px;
$w_150: 150px;
$w_200: 200px;
$w_250: 250px;
$w_300: 300px;
$w_350: 350px;
$w_400: 400px;
$w_450: 450px;
$w_500: 500px;
$w_550: 550px;
$w_600: 600px;
$w_700: 700px;
$w_800: 800px;
$w_900: 900px;
$w_1000: 1000px;

.minw100{min-width: $w_100;}
.minw150{min-width: $w_150;}
.minw200{min-width: $w_200;}
.minw250{min-width: $w_250;}
.minw300{min-width: $w_300;}
.minw350{min-width: $w_350;}
.minw400{min-width: $w_400;}
.minw450{min-width: $w_450;}
.minw500{min-width: $w_500;}
.minw550{min-width: $w_550;}
.minw600{min-width: $w_600;}
.minw700{min-width: $w_700;}
.minw800{min-width: $w_800;}
.minw900{min-width: $w_900;}
.minw1000{min-width: $w_1000;}

.wdth50{width: $w_50;}
.wdth100{width: $w_100;}
.wdth150{width: $w_150;}
.wdth200{width: $w_200;}
.wdth250{width: $w_250;}
.wdth300{width: $w_300;}
.wdth350{width: $w_350;}
.wdth400{width: $w_400;}
.wdth450{width: $w_450;}
.wdth500{width: $w_500;}
.wdth550{width: $w_550;}
.wdth600{width: $w_600;}

.maxw100{max-width: $w_100;}
.maxw150{max-width: $w_150;}
.maxw200{max-width: $w_200;}
.maxw250{max-width: $w_250;}
.maxw300{max-width: $w_300;}
.maxw350{max-width: $w_350;}
.maxw400{max-width: $w_400;}
.maxw450{max-width: $w_450;}
.maxw500{max-width: $w_500;}
.maxw550{max-width: $w_550;}
.maxw600{max-width: $w_600;}

.mbxs{ margin-bottom: $_xs; }
.mbs { margin-bottom: $_s; }
.mbm { margin-bottom: $_m; }
.mbl { margin-bottom: $_l; }

.mtxs{ margin-top: $_xs; }
.mts { margin-top: $_s; }
.mtm { margin-top: $_m; }
.mtl { margin-top: $_l; }

.mlxs { margin-left: $_xs; }
.mls { margin-left: $_s; }
.mlm { margin-left: $_m; }
.mll { margin-left: $_l; }

.mrxs { margin-right: $_xs; }
.mrs { margin-right: $_s; }
.mrm { margin-right: $_m; }
.mrl { margin-right: $_l; }
