:host {
    box-shadow: 0 0 10px 0 rgba(black, 0.3);
    h1[mat-dialog-title] {
        background-color: var(--main-color);
        color: var(--text-header-color);
        font-weight: 600;
        margin-top: 0;
        padding-top: 5px;
        font-size: 1.3em;
        display: flex;
        align-items: center;

        &::before {
            display: none;
        }

        button[mat-dialog-close] {
            position: relative;
            right: -17px;
            margin-left: 5em;
        }
    }

    .mdc-dialog {
        &__actions {
            justify-content: flex-end;
            column-gap: 1em;
        }
    }

    mat-dialog-content {
        padding-top: 10px;
    }
}