:host {
    .container {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: scale(100%);
        pointer-events: none;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
}