@import "/src/styles/spacings.scss";
@import "/src/styles/colors.scss";

:host {
  display: block;
  height: 100%;
  border-radius: 5px;

  &.highlight {
    .item {
      background-color: $hover-color;
    }
  }

  &:hover {
    .item {
      .item-background {
        opacity: 1;
      }

      .comments {
        padding: 20px 10px 10px 10px;
        margin: -20px -10px -10px -10px;
        background-color: #FFFFFFC0;
        border-radius: 5px;
        white-space: pre-wrap;
      }

      &.highlight {
        .comments {
          text-shadow: 0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 15px white,
            0 0 20px white,
            0 0 30px white,
            0 0 40px white,
            0 0 45px white,
            0 0 45px white,
          ;
        }
      }
    }
  }
}

.item {
    position: relative;
    z-index: 0;
    max-height: 100%;
    overflow: hidden;

    .item-background {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center 20%;
        background-size: cover;
        filter: grayscale(70%) opacity(0.4);
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .content-place {
        display: grid;
        grid-template-columns: 120px 1fr;
        position: relative;
        z-index: 1;
    }

    .project-icon-place {
      margin-right: $_s;

      div.created {
        color: $grayish-gray;
        font-size: 10px;
      }

      div.date {
        color: $heavy-gray;
        font-size: 10px;
      }
    }
  }